apiVersion: apps/v1
kind: Deployment
metadata:
  name: kalyan-deployment
  namespace: dev
spec:
  replicas: 3
  selector:
    matchLabels:
      app: httpd-app1

  template:
    metadata:
      labels:
        app: httpd-app1
    spec:
      containers:
      - name: httpd-container
        image: httpd
          ports:
          - containerPort: 80
      