apiVersion: apps/v1
kind: Deployment
metadata:
  name: kalyan-deployment
  namespace: dev
  
spec:
  replicas: 3
  selector:
    matchLabels:
      app: myapp1


template:
 metadata:
  labels:
    app: myapp1
 spec:
  containers:
   - name: myapp1-container
     image: httpd:latest
     ports:
      - containerPort: 80
      